extends ../layout

block content
  .page-header
    h3 Listing For Apartment Number # #{apt.apartmentNumber}
    hr

  ul
    li Landlord's email: #{apt.landlordEmail}
    li Number of bedrooms: #{apt.numBedrooms}
    li Number of bathrooms: #{apt.numBathrooms}
    li Additional information: #{apt.additionalInformation}
    li January Price: #{apt.januaryPrice}
    li February Price: #{apt.februaryPrice}
    li March Price: #{apt.marchPrice}
    li April Price: #{apt.aprilPrice}
    li May Price: #{apt.mayPrice}
    li June Price: #{apt.junePrice}
    li July Price: #{apt.julyPrice}
    li August Price: #{apt.augustPrice}
    li September Price: #{apt.septemberPrice}
    li October Price: #{apt.octoberPrice}
    li November Price: #{apt.novemberPrice}
    li December Price: #{apt.decemberPrice}