extends ../layout

block content
  .page-header
    h3 Listing For Apartment Number ##{apt.apartmentNumber}
    hr

  ul
    li 
      b Landlord's email: 
      | #{apt.landlordEmail}
    li 
      b Number of bedrooms: 
      | #{apt.numBedrooms}
    li 
      b Number of bathrooms: 
      | #{apt.numBathrooms}
    li 
      b Additional information: 
      | #{apt.additionalInformation}
    li 
      b January Price: 
      | #{apt.januaryPrice}
    li 
      b February Price: 
      | #{apt.februaryPrice}
    li 
      b March Price: 
      | #{apt.marchPrice}
    li 
      b April Price: 
      | #{apt.aprilPrice}
    li 
      b May Price: 
      | #{apt.mayPrice}
    li 
      b June Price: 
      | #{apt.junePrice}
    li 
      b July Price: 
      | #{apt.julyPrice}
    li 
      b August Price: 
      | #{apt.augustPrice}
    li 
      b September Price: 
      | #{apt.septemberPrice}
    li 
      b October Price: 
      | #{apt.octoberPrice}
    li 
      b November Price: 
      | #{apt.novemberPrice}
    li 
      b December Price: 
      | #{apt.decemberPrice}
