extends ../layout

block content
  .page-header
    h3 Listing For Apartment Number ##{apt.apartmentNumber}
    hr

    p 
      b Landlord's email: 
      | #{apt.landlordEmail}
    p  
      b Number of bedrooms: 
      | #{apt.numBedrooms}
    p  
      b Number of bathrooms: 
      | #{apt.numBathrooms}
    p  
      b Photos Folder (ex. Google Drive Link): 
        a(href=apt.photosFolder) #{apt.photosFolder}
    hr
    p  
      b Additional information: 
      | #{apt.additionalInformation}
    hr
    p 
      b January Price: 
      | $#{apt.januaryPrice}
    p  
      b February Price: 
      | $#{apt.februaryPrice}
    p  
      b March Price: 
      | $#{apt.marchPrice}
    p 
      b April Price: 
      | $#{apt.aprilPrice}
    p  
      b May Price: 
      | $#{apt.mayPrice}
    p 
      b June Price: 
      | $#{apt.junePrice}
    p 
      b July Price: 
      | $#{apt.julyPrice}
    p 
      b August Price: 
      | $#{apt.augustPrice}
    p 
      b September Price: 
      | $#{apt.septemberPrice}
    p
      b October Price: 
      | $#{apt.octoberPrice}
    p 
      b November Price: 
      | $#{apt.novemberPrice}
    p 
      b December Price: 
      | $#{apt.decemberPrice}
