extends ../layout

block content
  .page-header
    h3.text-center Listing For Apartment Number ##{apt.apartmentNumber}
    hr

    p 
      b Landlord's email: 
      | #{apt.landlordEmail}
    p  
      b Number of bedrooms: 
      | #{apt.numBedrooms}
    p  
      b Number of bathrooms: 
      | #{apt.numBathrooms}
    p  
      b Photos link (ex. Google Drive folder): 
        a(href=apt.photosFolder) #{apt.photosFolder}
    hr
    p
      b Additional information: 
      | #{apt.additionalInformation}
    hr
    p
      b January's rent: 
      | $#{apt.januaryPrice}
    p
      b February's rent: 
      | $#{apt.februaryPrice}
    p
      b March's rent: 
      | $#{apt.marchPrice}
    p
      b April's rent: 
      | $#{apt.aprilPrice}
    p
      b May's rent: 
      | $#{apt.mayPrice}
    p
      b June's rent: 
      | $#{apt.junePrice}
    p
      b July's rent: 
      | $#{apt.julyPrice}
    p 
      b August's rent: 
      | $#{apt.augustPrice}
    p
      b September's rent: 
      | $#{apt.septemberPrice}
    p
      b October's rent: 
      | $#{apt.octoberPrice}
    p
      b November's rent: 
      | $#{apt.novemberPrice}
    p
      b December's rent: 
      | $#{apt.decemberPrice}
